*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Palanquinh1;src: url('../font/Palanquin/Palanquin-Bold.ttf');}
@font-face {
  font-family: Palanquinh6;src: url('../font/Palanquin/Palanquin-ExtraLight.ttf');}
@font-face {
  font-family: Palanquinh5;src: url('../font/Palanquin/Palanquin-Light.ttf');}
@font-face {
  font-family: Palanquinh3;src: url('../font/Palanquin/Palanquin-Medium.ttf');}
@font-face {
  font-family: Palanquinh4;src: url('../font/Palanquin/Palanquin-Reguler.ttf');}
@font-face {
  font-family: Palanquinh2;src: url('../font/Palanquin/Palanquin-Semibold.ttf');}
@font-face {
  font-family: Palanquinren;src: url('../font/Palanquin/Palanquin-Thin.ttf');}
.wrapper{width: 100%; height: auto;}
.row::after{
  content: "";
  clear: both;
  display: table;
}
[class*="col-"]{
  float:left;
}

.data-table-pengguna{
  padding: 6px;
}
.data-table-pengumuman{
  padding: 6px;
}
.data-table-lisdonasi{
  padding: 6px;
}


h1{font-family: Palanquinh1;font-size: 60px;}
h2{font-family: Palanquinh2;font-size: 54px;}
h3{font-family: Palanquinh3;font-size: 36px;}
h4{font-family: Palanquinh4;font-size: 30px;}
h5{font-family: Palanquinh5;font-size: 22px;}
h6{font-family: Palanquinh6;font-size: 20px;}

.right{float: right;}
.left{float: left;}

.bg-color1{background-color: #00aeea;}
.bg-color2{background-color: #e90052;}
.bg-color3{background-color: #ffffff;}

.col-1 {width: 8.33%;}
.col-1plus{width: 11%;}
.col-1pluss{width: 10%;}
.col-2min {width: 15%;}
.col-2 {width: 16.66%;}
.col-2plus{width: 20%;}
.col-3 {width: 25%;}
.col-3pluss{width: 24%;}

.col-3plus{width: 30%;}

.col-4 {width: 33.33%;}
.col-4plus{width: 40%;}
.col-5 {width: 41.66%;}
.col-4plus{width: 38%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-7plus{width: 60%;}
.col-8 {width: 66.66%;}
.col-8plus{width: 70%;}
.col-9 {width: 75%;}
.col-9plus{width: 80%;}
.col-10 {width: 83.33%;}
.col-10pls{width: 85%;}
.col-10plus{width: 90%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header{position: fixed;z-index: 1000;width: 100%;height: 8%;background-color: rgba(255,255,255);}

.logo{height: 100%;}
.logo img{width: 20%;margin: 2% 10%;}

.sidebar{position:fixed;right: -100%;width: 100%;height: 100%;background-color: rgba(0,174,234,.8);transition: .3s;}
.active{right: 0;}
.burger{z-index: 1000;top: 5px;right: 70px;position: absolute;box-sizing:border-box;width: 40px;height: 40px;background-color: transparent;border: none;outline: none;cursor: pointer;}
.burger span{width: 30px;height: 4px;background-color: #00aeea;position:absolute;display: block;top: 24px;transition: .3s;}
.burger span:before{content: "";width: 100%;height: 4px;background-color: #00aeea;position:absolute;top: -10px;left: 0;transition: .3s;}
.burger span:after{content: "";width: 100%;height: 4px;background-color: #00aeea;position:absolute;top: 10px;left: 0;transition: .3s;}
.burger.toggle span{background: transparent;}
.burger.toggle span:before{top:0;transform: rotate(45deg);background: #fff;}
.burger.toggle span:after{top:0;transform: rotate(-45deg);background: #fff;}

.sidebar-con{    transform: translate(340px,100px);}
.sidebar-con h3 a{text-decoration: none; color: #fff; transition: all ease-in-out 2s;}
.sidebar-con h3 a:hover{ text-decoration: underline; }
/*.fa-bars{font-size: 25px;color:#00aeea;margin: 2.5% 10%;float: right;cursor: pointer;}*/
.banner{height: 100vh;}
.banner1{height: 100%; background-color:#00aeea;background-image: url("../image/website/banner-2-blue.png");background-position: center; background-repeat: no-repeat; background-size: cover;}
.button{height: 10%; transform: translateY(250px);}
.button1{height: 100%;}
.button-size-1{cursor: pointer; width: 25%; height: 80%; margin: 1% 2%;border: none; border-radius: 3px; box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);color: #fff; font-family:Palanquinh2; font-size: 18px;}
.button-size-1:hover{opacity: .9; box-shadow:0px 4px 8px rgba(0,0,0,.6)}
.button-size-2{cursor: pointer; width: 91%; height: 80%; margin:.5% 4%;border: none; border-radius: 3px; box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);color: #fff; font-family:Palanquinh2; font-size: 18px;}
.button-size-2:hover{opacity: .9; box-shadow:0px 2px 4px rgba(0,0,0,.6)}
.button-size-3{    cursor: pointer;width: 20%;  height: 14.5%;  border: none;  border-radius: 3px;transform: translate(535px,150px);  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);color: #00aeea;  font-family: Palanquinh2;font-size: 20px;}
.button-size-3:hover{opacity: .9; box-shadow:0px 2px 4px rgba(0,0,0,.6)}
.button-size-4{cursor: pointer;width: 20%;height: 8.5%;border: none;border-radius: 3px;transform: translate(-130px,450px);box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);color: #00aeea;font-family: Palanquinh2;font-size: 20px;}
.button-size-4:hover{opacity: .9; box-shadow:0px 2px 4px rgba(0,0,0,.6)}
.button-size-5{    cursor: pointer;width: 20%;  height: 4%;  border: none;  border-radius: 3px;transform: translate(535px,300px);  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);color: #fff;  font-family: Palanquinh2;font-size: 20px;}
.button-size-5:hover{opacity: .9; box-shadow:0px 2px 4px rgba(0,0,0,.6)}
.button-size-6{    position:absolute;cursor: pointer;width: 10%;  height: 20%;  border: none;  border-radius: 3px;transform: translate(580px,40px);  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);color: #fff;  font-family: Palanquinh2;font-size: 15px;}
.button-size-6:hover{opacity: .9; box-shadow:0px 2px 4px rgba(0,0,0,.6)}

.content{height: auto; background-color: #deebee;}/* Admin-User */
.content1{height: 130vh;}
.content2{height: 80vh;}
.content3{height: 25vh;}
.content4{height: 260vh;background-color: #deebee;}
.vector-one{height: 50%;}
.vector-two{height: 50%;}
.word1{height:100%;}
.image1{height:100%;}
.icon1{height: 50%;}
.icon2{height: 100%; overflow: hidden;}
.icon3{height: 100%;background-color: rgba(0,174,234,.7);transition: all ease-in .7s;}
.icon3 img{width: 100%; height: auto;}
.icon3 h3{font-size: 28px;color: #ffffff;text-align: center;}
.icon2:hover .icon3{transition: all ease-in .7s; visibility: hidden;opacity: 0;}
.bg-img1{background-image: url(../image/website/penggalang-2.png); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img2{background-image: url(../image/website/kesehatan1.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img3{background-image: url(../image/website/banner-3.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img4{background-image: url(../image/website/pendidikan.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img5{background-image: url(../image/website/bencana.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img6{background-image: url(../image/website/ibuhamil.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img7{background-image: url(../image/website/pengungsi.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}
.bg-img8{background-image: url(../image/website/riset.jpg); background-repeat: no-repeat;background-size: cover; background-position: top left; transition: all ease-in-out 1s;}

.bg-img1:hover, .bg-img2:hover, .bg-img3:hover, .bg-img4:hover, .bg-img5:hover, .bg-img6:hover, .bg-img7:hover, .bg-img8:hover{background-size:600px; background-position: center;}

.post1{height: 30%; background-color:#ffffff;overflow: hidden;border-radius: 5px;margin-left:2.5%; transform: translateY(150px);}
.baris2{margin-top: 5%;}

.post1:hover{box-shadow: 0px 2px 3px rgba(0,0,0,.5)}
.img-post{height: 40%;}
.img-post img{width: 100%; height: 100%;}

.desc{height: 48%;}
h5 span{margin-left: 5px;color: #00aeea;}

.desc-post{height: 75%;}
.dana-post{height: 25%}

.dana{height: 100%;}

.button-post{height: 12%;}

.testimonial{height: 70%;transform: translateY(20px);margin: 0% 12.5%;}
.testimo-1{height:100%;}
.testimo-2{height: 80%; margin:5% 12.5%}
.carousel-cell{height: 100%;}

.footer{height: 100vh;}
.subs{height: 60%;background-image:url(../image/website/banner-1-blue.png); background-repeat: no-repeat; background-size: cover; background-position: center;}
.foot1{height: 30%;}



.foot2{height: 10%;}
.foot3{height: 100%;}
.foot4{height: 50%;transform: translate(55px,70px);}
/* ==================================================== */
/* Dashboard Admin in Down */
/* ==================================================== */

.header-a {position: fixed;z-index: 1000;height:8vh;background-color: #fff;right: 0;box-shadow:0px 2px 4px rgba(0,0,0,.2); transition: .5s;}
.header-a-l{height: 100%;}
.hider-hide{transform: translateY(-100%);}

.sidebar-a {height:100vh; position:fixed;box-shadow:0px 2px 4px rgba(0,0,0,.2);}
.sidebar-b{height: 92%;}
.sidebar-b ul{    width: 100%;margin: 0;padding: 0;}
.sidebar-b ul li{list-style: none; padding-left: 20%;line-height: 45px;}
.sidebar-b ul li:first-child{}
.sidebar-b ul li:hover{background-color: #67c8ff; transition: all ease-in-out .3s;}
.sidebar-b ul li a{text-decoration: none; color: #fff;font-family:Palanquinh3;display: block;line-height: 60px;}

.sb-active {background-color:#67c8ff;}

.logo-a{height: 8%;}
.logo-a img{width: 60%;transform: translate(30%,40%);}


.search{ padding: .5% 1% .5% 9%;width: 50%;background-image: url(../image/website/search.png);background-size: 20px;background-repeat: no-repeat;background-position:20px;/*transition: all ease-in-out .5s;*/outline: none;background-color: transparent;border: none;/* border-radius: 5px;border: solid 2px #00aeea;*/color: #00aeea; font-family: palanquinh3;font-size: 18px;transform: translate(2%,20%);}
.search:focus{border-bottom: solid 2px #00aeea; transition: all ease-in-out 1s;}
.exit{float: right;}

.exit-a:hover{opacity: .8; transition:all ease-in-out .5s;}



.title{height: 100%;}
.title1 h3{display: inline-block;font-size: 16px;transform: translate(5%,35%);box-shadow: 0px 1px 2px rgba(0,0,0,.4); }
.title1 h3 a{text-decoration: none; color: #fff;}
.title1 h3:hover{box-shadow: 0px 2px 4px rgba(0,0,0,.6);}
.content-a-1{ height: auto;   float: right;margin-top: 9vh; background-color: #deebee;}
.content-post-a {border-radius: 5px;height: 8%;}
.content-post-a1{height: 92%;}
.content-post-a2{height: 100%;}
.content-post-a3{height: 100%;}

.news{height: 28%;}
.bg-news-1{background-image: url(../image/website/user-amount.png); background-repeat: no-repeat;background-size: cover; background-position:center;}
.bg-news-2{background-image: url(../image/website/grafik-amount.png); background-repeat: no-repeat;background-size: cover; background-position:center;}
.bg-news-3{background-image: url(../image/website/donate-amount.png); background-repeat: no-repeat;background-size: cover; background-position:center;}

.news-diagram{height: 62%;}

.news1{ height: 95%; margin: 1% 2.5% 1% 1%; transform: translateX(21%); box-shadow: 0px 2px 6px rgba(0,0,0,.4); border-radius: 5px;}

.grafik{width: 80%;height: 86%;transform: translate(11%);box-shadow: 0px 1px 2px rgba(0,0,0,.4); border-radius: 5px;}

.chat{height:70%;}
.chat-work{  overflow: hidden; width: 96%;height: 95%;border-radius: 5px;margin-left: 1%; box-shadow:0px 1px 2px rgba(0,0,0,.3);}
.chat-title{height: 10%;border-bottom: solid 1px #deebee;}
.chat-titles{height: 5%;}
.chat-titles input{color: #00aeea;}
.chat-content{height: 70%;}
.chat2{    overflow-y: scroll;border: none;border-top: solid 1px #deebee;border-radius: 0px 0px 5px 5px;resize: none;width: 93%;height: 15%;padding: 3%;outline: none;margin-left: 1%;}





/*====================
USER
======================*/
.u-wrapper{height: auto;}
.header-u{position: fixed;z-index: 1000;height: 10vh; box-shadow: 0px 1px 2px rgba(0,0,0,.2); transition: all ease-in-out .3s;}
.hider-hide-u{transform: translateY(-100%);}

.content-header{height: 100%; margin:0% 4.17%;}
.search2{ padding: .5% 1% .5% 10%;width: 70%;background-image: url(../image/website/search.png);background-size: 20px;background-repeat: no-repeat;background-position: 10px;outline: none;background-color: transparent;border: none;    border-left: solid 2px #deebee;color: #00aeea;font-family: palanquinh3;font-size: 16px;transform: translate(2%,50%);}

.logo-u{height: 100%;}
.logo-u2{height: 100%; float: right;}

.link{height: 100%;}
.link ul{width: 80%;height: 100%;margin: 0; padding: 0; float: left;}
.link ul li{    list-style: none;line-height: 73px;  padding: 0% 10%;display: inline-block;}
.link ul li a{text-decoration: none; color: #00aeea; font-family: palanquinh3; font-size: 16px;line-height: 30px;display:inline-block;}
.link ul li:hover{}
.bell{    float: right;width: 20%;}
.bell a{overflow: hidden;}
.bell a i{padding: 0; margin: 0;text-decoration: none;color: #00aeea;   transform: translate(25px);line-height: 73px;font-size: 24px;}
.profil-u{height: 100%;}
.name-profil{height: 100%;}
.img-profil{height: 100%;}
.bar{height: 100%;}
.burger1{    cursor: pointer;position: absolute;width: 25px;height: 35px;top: 20px;right: 4.5%;background-color: transparent;box-sizing: border-box;outline: none;border: none;}
.burger1 span{ position: absolute; top: 15px;display: block; background-color: #00aeea; width: 100%;height: 3px; transition: all ease-in-out .3s;}
.burger1 span:before{content:""; position: absolute;width: 100%;height: 3px;left: 0;top:-9px; background-color: #00aeea; transition: all ease-in-out .3s;}
.burger1 span:after{content: ""; position: absolute; width: 100%; height: 3px; left: 0; top: 9px; background-color: #00aeea; transition: all ease-in-out .3s;}
.burger1.toggle span{background: transparent;}
.burger1.toggle span:before{top:0;transform: rotate(45deg);background: #00aeea;}
.burger1.toggle span:after{top:0;transform: rotate(-45deg);background: #00aeea;}
.active1{display: block !important;}
.bar1:before{content: "";z-index: -1;position:absolute;width: 40px; height: 40px;top: -2vh; right: 15px;transform: rotate(45deg); background-color: #fff;}
.bar1{display: none;position: fixed;z-index: 1;    width: 235px; border-radius: 5px; box-shadow: 0px 1px 4px #e8e8e8;height: 200px;right: 42px;top: 12vh; background-color: #fff; box-shadow: 0px 2px 13px rgba(0,0,0,.3); transition: all .6s;}
.bar1 ul{width: 100%;height: 100%;overflow: hidden;}
.bar1 ul li{list-style: none;width: 100%; height: 33.3%;display: block;border-bottom: solid 1px #e8e8e8;}
.bar1 ul li:first-child{border-top: none;}
.bar1 ul li a{display:block;text-align: center; line-height: 70px;color: #b0b4b4;font-family: Montserrat;font-weight: 500;font-size:20px;text-decoration: none;}
.bar1 ul li a:hover{background-color: #e8e8e8;}


.content-u{height:auto; padding-top: 13vh;}
.sidebar-u{height: auto;}
.posting-u{height: auto;}

.chat-u{position: fixed;
    height: auto;
    overflow: hidden;
    right: 0;}

.chat-title-u{height: 13%; margin:0% 5%; border-bottom:solid 2px #e8e8e8; }
.chat-ttl-u{height: 100%;}

.chat-con-u1{height: 80%; margin:0% 5%; overflow-y: scroll;}
.notif1{height: 50px; border-bottom: solid 1px #e8e8e8; overflow:hidden; cursor:  pointer;}
.notif1:hover{background-color:#f0f0f0;}
.profil-img{height:100%;}
.chat-con-u2{height: 65%; margin:0% 5%; overflow-y: scroll;}
.chat-lawan{height: auto; overflow:;margin:3% 0%;}
.chat-me{height: auto; overflow:;margin:3% 0% 3% 0%;}


.notif-up{display:none;z-index: 1; position:fixed;top:-10vh;width: 100%;height: 150vh; background-color: rgba(0,0,0,.5)}
.notif-up-con{position:absolute;width: 400px; height: 500px;    margin: 12% 36%;background-color: #fff;}

.cancle-notif{top:-5px ;right: 5px;position: absolute;box-sizing:border-box;width: 40px;height: 40px;background-color: transparent;border: none;outline: none;cursor: pointer;}
.cancle-notif span{position:absolute;width: 30px;height: 4px;background-color:transparent;position:absolute;display: block;top: 24px;transition: .3s; display:;}
.cancle-notif span:before{content:"";position:absolute;top:0;width: 20px;height: 3px;transform: rotate(45deg);background: #00aeea;}
.cancle-notif span:after{content:"";position:absolute;top:0;width: 20px;height: 3px;transform: rotate(-45deg);background: #00aeea;}



.con-not-u{height: 95%; margin:2.5%;}
.n-u-ttl{height: 15%;    border-bottom: solid 2px #e8e8e8;}
.n-u-dsc{height: 74%; border-bottom: solid 2px #e8e8e8; overflow-y: scroll; overflow-x: hidden;}
.dsc-n-u{height: auto;}
.n-u-buton button:hover{opacity: .6;}


.chat-msg{padding: 5% 4%;background-color:#fff;box-shadow: 0px 1px 10px rgba(0,0,0,.3); margin:3% 0%; border-radius:5%;}
.chat-msg-u{padding: 5% 4%;background-color:#00aeea;box-shadow: 0px 1px 10px rgba(0,0,0,.3); margin:3% 0%; border-radius:5%; }
.chat-msg-u h6 a{color: #f0f0f0; text-decoration: none;}
.chat-msg-u h6 a:hover{ color: #fff; text-decoration: underline;transition:all .5s;}

.chat-con-u3{height: 15%; margin:0% 5%;}
.keypad{       width: 96%;border: none;height: 32.5px;resize: none;overflow-y: scroll;font-size: 14px;font-family: Arial;outline: none;padding: 2%;}

.sidebar-u-con{height: 50vh;background-color: #ffffff; float:right; transform: translate(-10%); overflow: hidden; box-shadow: 0px 2px 13px rgba(0,0,0,.3);}
.menu-u{height: 15%;border-bottom: solid 1px #f0f9fd;}
.menu-u h3{font-size: 18px; text-align: left;transform: translate(25px,10px); color: #00aeea;}
.chat-u{height: auto;}

.sidebar-u-con{height: 52vh;background-color: #ffffff;box-shadow: 0px 2px 4px rgba(0,0,0,.4); float:right; transform: translate(-10%); overflow: hidden;}
.sidebar-u-link{height: 85%; background-color:;}
.sidebar-u-link ul{width: 100%; margin:none; padding:none;}
.sidebar-u-link ul li{list-style: none; padding-left: 10%; line-height: 45px;}
.sidebar-u-link ul li:hover{background-color: #f0f9fd; transition: all .3s;}
.sidebar-u-link ul li a{text-decoration: none; color: #00aeea; font-family: Palanquin;display: block;line-height: 74px;}
.active-u{background-color: #f0f9fd;}
.post-u-con{padding:5px 0px;height: 25vh;border-radius:3px;background-color:#ffffff; box-shadow: 0px 2px 13px rgba(0,0,0,.3); margin:1% 0% 3% 0%; overflow: hidden;}
.post-u{height: 40vh;background-color:#ffffff; box-shadow: 0px 2px 13px rgba(0,0,0,.3); margin: 3% 0% 1% 0%;}
.push{height: 100%;}
.image-push{height: 100%;}

.box-post-u{height: 100%;}
.box-post-con{height: 100%;}
.banner-u{height: 300px;margin-bottom: 30px;}


.carousel-cell img{width: 100%;height: 100%;}

.picture-s{ cursor: pointer;    width: 95%;height: 95%;border: none;outline: none;background-color: #e8e8e8;background-image: url(../image/website/picture.png);background-size: 40px;background-repeat: no-repeat;background-position: center;margin: 2.5%;transition: all .3s;}
.picture-s:hover{background-size: 50px; transition: all .3s;}
.chat-u-con1{ width: 36vh;height: 40vh;background-color:#FFFFFF; transform: translate(10%);box-shadow: 0px 2px 13px rgba(0,0,0,.3); margin-bottom: 20px;}


.val-byr{position: fixed;top:0; left:0;width: 100%; height: 100%; overflow: hidden; background-color: rgba(0,0,0,.6); z-index: 100; display:none;}
.val-con-byr{position: absolute; width: 800px; height: 420px; top: 20%; left: 21%; background-color: #fff;}

.val-toggle{top:-5px ;right: 5px;position: absolute;box-sizing:border-box;width: 40px;height: 40px;background-color: transparent;border: none;outline: none;cursor: pointer;}
.val-toggle span{position:absolute;width: 30px;height: 4px;background-color:transparent;position:absolute;display: block;top: 24px;transition: .3s; display:;}
.val-toggle span:before{content:"";position:absolute;top:0;width: 20px;height: 3px;transform: rotate(45deg);background: #00aeea;}
.val-toggle span:after{content:"";position:absolute;top:0;width: 20px;height: 3px;transform: rotate(-45deg);background: #00aeea;}

.val-s:hover{opacity: .8; transition: .4s;}
.val-s1:hover{opacity: .8; transition: .4s;}

.bank1 img{width: 36%;     transform: translate(60px);}
.radio-bnk{    transform: translate(90px,-10px);} 

.bullet{position: absolute;margin: 17px 0px 0px 195px;transform: rotate(90deg);width: 10px;height: 35px;background-color: transparent;cursor: pointer;outline: none;border: none;}
.bullet span{position: absolute; top:   12px; display:   block;   width:6px ; height:   6px; border-radius:  50%; background-color:#808080;}
.bullet span:before{content:"";position: absolute; top:   -8px; display:   block;   width:6px ; height:   6px; border-radius:  50%; background-color:#696969;}
.bullet span:after{content:"";position: absolute; top:   8px; display:   block;   width:6px ; height:   6px; border-radius:  50%; background-color:#696969;}


.active-bull{display: block !important;}


.donate a:hover{opacity: .8;}
.look a:hover{opacity: .8;}


.edit{display:none;z-index: 1; position:fixed;top:-10vh;width: 100%;height: 150vh; background-color: rgba(0,0,0,.5)}
.edit-form{position:absolute;width: 400px; height: 500px;    margin: 12% 36%;background-color: #fff;}
.bank-bank{margin:0%;}
.cancle-edit{top:-5px ;right: 5px;position: absolute;box-sizing:border-box;width: 40px;height: 40px;background-color: transparent;border: none;outline: none;cursor: pointer;}
.cancle-edit span{position:absolute;width: 30px;height: 4px;background-color:transparent;position:absolute;display: block;top: 24px;transition: .3s; display:;}
.cancle-edit span:before{content:"";position:absolute;top:0;width: 20px;height: 3px;transform: rotate(45deg);background: #00aeea;}
.cancle-edit span:after{content:"";position:absolute;top:0;width: 20px;height: 3px;transform: rotate(-45deg);background: #00aeea;}
.edit-post-new:hover{opacity: .8;}

/*Donasiku ==============*/

.judul-d{height: 100px;}
.judul-d h1{font-size: 32px; color: #00aeea; transform: translateY(40px);}
.donate-u-ku{height: auto; margin-bottom: 20px;}
.post-now{height: 400px; overflow: hidden; box-shadow:0px 2px 10px rgba(0,0,0,.4)}
.post-now-pict{height: 100%;}


/* ================= View Page ============== */
.img-view{height: 500px;}
.img-view img{width: 100%; height: 100%;}
.dsc-view{height: auto;border-bottom:solid 2px #e8e8e8;padding-bottom: 5%; }
.dsc-view h1{    font-size: 45px;text-align: center;color: #00aeea;}
.dsc-view h3{text-align: center;line-height: 10px;}
.dsc-view h3 a{ text-decoration:  none;   font-size: 20px;color: #696969;opacity: 0.5;}    
.dsc-view h3 a:hover{text-decoration:  underline; }
.dsc-view h2{    font-size: 20px;text-align: center;color: #696969;opacity: .6;line-height: 80px;}   
.dsc-view p{font-size: 18px;text-align: justify;color: #696969;opacity: .6;line-height: 28px;font-family: palanquin; margin: 3% 0%;}    

.dsc-view h5{font-size:24px; color: #00aeea}
.dsc-view h6{font-size:24px; color: #f65061}

.donasi-form{height: auto; padding-bottom:8%;}
.donasi-form h1{font-size: 24px; color: #808080; opacity: .6; margin: 2% 0%;}
.norek{height: 20px;padding: 2%; border:solid 2px #00aeea; border-radius: 5px;color: #00aeea; font-size: 16px; font-family: Arial; margin: 2% 6%;}
.donasi-form button:hover{opacity: .8;}
/* =================== Profil ======================= */
.identitas{height: 250px; padding-bottom: 5%;border-bottom: solid 2px #e8e8e8; margin-bottom: 25px;}

.identitas-user{height: 100%;}

.identitas-user-img{height: 100%; border-radius:5px; box-shadow: 0px 1px 14px rgba(0,0,0,.3); }
.identitas-user-img img{width: 100%;min-height: 100%;}
.identitas-user h2{font-size: 30px; color: #00aeea; transform: translateX(30px);}
.idn{height:15%;}
.idn h1{font-size: 18px;    margin: 3% 8%; color: #00aeea; line-height: 60px;}
.idn h1 i{margin-right: 5%;}
.idn h1 span{opacity: .8; color: #696969;}

.jumlah{height: 150px;background-color: #fff; box-shadow: 0px 1px 15px rgba(0,0,0,.2);}
.jumlah1{height: 100%;}
.jumlah1 h1{    font-size: 25px;color: #00aeea;transform: translate(20px,10px);}
.jumlah h2{    font-size: 18px;color: #808080;transform: translate(20px,10px);opacity: .5;}

.auto-loop h2{color: #00aeea; font-size: 28px;transform: translate(0px,10px); margin-bottom: 25px;}

.img-posting{height: 150px; overflow: hidden; margin: .2%;}
.img-posting img{width: 100%; height: 100%;}
.img-posting a:hover{opacity: .8;}
/*=======*/
.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
div {
    display: block;
}
h5 {
    font-size: 20px;
    margin-top: 0px;
}
.container .rows {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.rows {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
hr {
    height: 0.01px;
    overflow: hidden;
    border: inset -1px #fff;
}
.rows .col{
  padding: 10px;
  float: left;
}
.rows .col .s12{
    width: 54%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .rows .col .s13{
    width: 30%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
.rows .col .m6{
    width: 25%;
}
.rows .col input{
    transition: .2s opacity ease-out, .2s color ease-out;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 4px;
    padding: 0 2.5%;
    width: 94%;
    margin-bottom: 0px;
}

.rows input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.rows .col.l6 {
    margin-left: auto;
    left: auto;
    right: auto;
}.right-align {
    text-align: right;
}
.amber.darken-3 {
    background-color: #00aeea !important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}
.btn-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    transition: background-color .2s;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.white-text {
    color: #fff !important;
}
.amber {
    background-color: #ffc107 !important;
}
.posts{padding:5px 0px;height: 25vh;border-radius:3px;background-color:#ffffff; box-shadow:0px 2px 4px rgba(0,0,0,.4); overflow: hidden; width: 100%;}
.pushs{width: 100%;height: 100%;}
.info-text {
    font-size: 12px;
}
